<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta http-equiv="refresh" content="2"> -->
    <title>Send Messages</title>
    <!-- <link rel="stylesheet" href="../public/message.css"> -->
     <link rel="stylesheet" href="/message.css">
</head>

<body>
    <div class="chat">
        <div class="chat-header">
            <h1>
                <%= id %><span class="status">&#9670;</span>
            </h1>
        </div>
        <div class="main">
            <div class="message-list">
                <div class="message sent">
                    <p>TODAY</p>
                </div>
                <div class="message received">
                    <p>
                        Messages are end-to-end encrypted. No one outside of this chat,
                        not even Owner, can read or listen to them
                    </p>
                </div>
            </div>

            <% if(data!={}) {%>
                <%= console.log(data) %>
                <% for(user of data){ %>
                    <div class="message-container">
                        <p class="user-message">
                            <%= user.content %>
                        </p>
                    </div>
                    <% } %>
                        <% } %>
        </div>
    </div>
    <div class="chat-footer inpt-area">
        <form action="/chat/<%=id %>" method="post">
            <input type="text" placeholder="Type a message" class="message-input" name="message" autofocus/>
            <button type="submit" class="send">Send</button>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.0.0-rc.5/html2canvas.min.js"></script>
</body>

</html>