<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Screenshot</title>
    <link rel="stylesheet" href="../public/message.css">

</head>
<body>
    <div class="chat">
        <div class="chat-header">
            <h1><%= id %><span class="status">&#9670;</span></h1>
            <!-- <div class="info">
                <img src="profile.png" alt="Profile avatar" width="30" height="30">
                <span class="status">Business Account</span>
            </div> -->
        </div>
        <div class="message-list">
            <div class="message sent">
                <p>TODAY</p>
            </div>
            <div class="message received">
                
                <p>Messages are end-to-end encrypted. No one outside of this chat, not even WhatsApp, can read or listen to them. Click to learn more</p>
            </div>
        </div>
        <div class="message-container">
            <p class="user-message"></p>
        </div>
        
        <div class="chat-footer">
            <form action="/chat/<%=id %>" method="post">
                <input type="text" placeholder="Type a message" class="message-input"name="message">
                <button class="send">Send</button>
            </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.0.0-rc.5/html2canvas.min.js"></script>
    <script>
        const chat = document.querySelector('.chat');
        const button = document.querySelector('button');

        button.addEventListener('click', () => {
            html2canvas(chat).then(canvas => {
                const dataURL = canvas.toDataURL('image/png');
                const link = document.createElement('a');
                link.href = dataURL;
                link.download = 'screenshot.png';
                link.click();
            });
        });
    </script>
</body>
</html>
