/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container{
    width: 1180px;
    
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}

/* Header */
header {
    background-color: #007bff;
    color: #fff;
    padding: 20px 0;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #fff;
}

/* Main */
.hero {
    text-align: center;
    padding: 80px 0;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 40px;
}

.hero button {
    background-color: #009688;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.people-say{
    margin-bottom: 50px;
}
.hero button:hover {
    background-color: #00796b;
}

.benefits {
    background-color: #fff;
    padding: 60px 0;
    text-align: center;
}

.benefits h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.benefits ul {
    display: flex;
    justify-content: center;
}

.benefits li {
    margin: 0 40px;
}

.benefits i {
    font-size: 36px;
    margin-bottom: 10px;
}

.testimonials {
    background-color: #f9f9f9;
    padding: 60px 0;
}

.testimonial-card {
    background-color: #fff;
    padding: 40px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.testimonial-card img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.testimonial-card p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.testimonial-card p:last-child {
    font-style: italic;
    color: #666;
}

.cta {
    text-align: center;
    margin-top: 40px;
}

.cta button {
    background-color: #ff5722;
    color: #fff;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta button:hover {
    background-color: #f4511e;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

footer p {
    margin-bottom: 20px;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 15px;
}

footer ul li a {
    color: #fff;
    transition: color 0.3s ease;
}

footer ul li a:hover {
    color: #ccc;
}

.social-icons {
    margin-top: 20px;
}

.social-icons li {
    margin: 0 10px;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ccc;
}
